<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/updateYear.js"></script>
    <title>F1 Application</title>
</head>
<body class="bg-gray-800">
    <div class="navbar bg-red-700 shadow-xl flex justify-between">
        <a class="btn btn-ghost text-xl text-white">F1 Data App</a>
        <div class="dropdown dropdown-end">
            <a class="btn btn-ghost text-lg text-white">Race Results</a>
            <a class="btn btn-ghost text-lg text-white">Standings</a>
            <div tabindex="0" role="button" class="btn m-1 px-5 min-w-20 max-w-20 bg-gray-900 text-white" id="yearButton">2024</div>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow text-white bg-gray-900 rounded-box max-w-20 max-h-96 overflow-y-scroll">
                {% for year in range(2024, 1949, -1) %}
                    <li><a class="dropdown-year">{{ year }}</a></li>
                {% endfor %}
            </ul>            
        </div>
    </div>

    <div class="text-white text-center flex justify-center mt-10">{{title}}</div>
    
    <div class="flex justify-between mt-10 w-full px-20">
        <div class="flex-1 flex flex-col items-center">
            <div class="mb-4">Constructors Standings</div>
            <ul class="flex items-center flex-col gap-7">
                {% for constructor in constructors %}
                    <li>{{constructor.position}} - {{constructor.Constructor.name}} ({{constructor.Constructor.nationality}}) - {{constructor.points}} Points - {{constructor.wins}} Wins</li>
                {% endfor %}
            </ul>   
        </div>
        
        <div class="flex-1 flex flex-col items-center">
            <div class="mb-4">Drivers Standings</div>
            <ul class="flex items-center flex-col">
                {% for driver in drivers %}
                    <li>{{driver.position}} - {{driver.Driver.givenName}} {{driver.Driver.familyName}} ({{driver.Driver.nationality}}) - {{driver.Constructors[0].name}} - {{driver.points}} Points - {{driver.wins}} Wins</li>
                {% endfor %}
            </ul>   
        </div>
    </div>
</body> 
</html>
